<h2>{{ aluno.nome | uppercase }} GATO</h2> <!-- O filtro '| uppercase' Isso irá mostrar o nome Vitor em caixa alta -->
<div><span>id: </span>{{ aluno.id }}</div>
<div><span>nome: </span>{{ aluno.nome }}</div>

<h2>{{ alunos[0].nome | uppercase }} </h2> 
<div><span>id: </span>{{ alunos[0].id }}</div>
<div><span>nome: </span>{{ alunos[0].nome }}</div>
<hr>
<ul class="lista-alunos" >
  <li *ngFor="let aluno of alunos" (click)="selecionaAluno(aluno)"> <!-- Isso irá chamar o método selecionaAluno toda vez que o elemento for clicado e passando com parametro o objeto de aluno do elemento clicado. -->
    <span> {{ aluno.id }} </span> {{aluno.nome }}
  </li>
</ul>

<div *ngIf="alunoSelecionado">
  <h2>{{ alunoSelecionado.nome | uppercase }} </h2> 
  <div><span>id: </span>{{ alunoSelecionado.id }}</div>
  <div>
    <span>nome: </span>
       <input [(ngModel)]="alunoSelecionado.nome" placeholder="nome"> <!-- Vincula o valor desse Elemento a todos objetos dessa instancias selecionada -->
  </div>
</div>
<hr>
<ul class="lista-alunos" >
  <li *ngFor="let aluno of alunos" (click)="selecionaAluno(aluno)" [class.selecionado]="aluno === alunoSelecionado">
    <span> {{ aluno.id }} </span> {{ aluno.nome }}
  </li>
</ul>
