
	div{
	width: 20%;
	padding: 10px;
	box-shadow:5px 10px 30px black;
	border-radius: 5px; 

}

div:hover{
	width: 20%;
	padding: 10px;
	box-shadow:5px 10px 30px white;
	border-radius: 5px; 
	background: black;
	color: white;
}
div:hover body{
	background: black;
}