
.botao  {
	position: relative;
background:;
	width: 22%;
	float: left;
	
	

top:20px;
left:50px;
margin:0px;
padding:0px;
height: 80px;

        }
 
        .botao a {  
        	position: relative;
font: bold 27px/27px arial, helvetica, sans-aerif;	
padding:0px;
text-decoration: none;
text-align:center;	
color:#ccc;
background: #006400 url('') no-repeat 
center center;
 background-size: contain;


width:250px;  
height:50px;	
display:block;	

	}
.botao a:hover { 
background: #006400 url('') no-repeat 
center center;
background-size: contain;


width:250px;  
height:50px;
color:#999;
               }

               .ac_box {position: relative;height: 100px; width: 337px; background: ;}

.ac_box_top { position:absolute;top: 0; border: 2px solid #E6E6E6; border-bottom: none; 
	margin-left: px; height: 7px; width: 323px; }

.ac_box_cont { background: ; border-left: 4px solid #E6E6E6; border-right: 10px solid #E6E6E6;
 border-bottom: 10px solid #E6E6E6; height: 100px; padding: 5px 0; }

