.fundo1{
	background-image: url(../imagens/fundo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.fundo2{
	background-color: #fff;
}
.link{
	text-decoration: none;
	color: black;

}
.link:hover{
	font-size: 16px;

	color: red;
	text-decoration: none;
}