*{
	margin: 0;
	padding: 0px;
}
body{
	position: relative;
	box-sizing: border-box;

}
#todo{
	position: relative;
	text-align: center;
	background: #F5DEB3;
	width: 100%;
	overflow: hidden;
}
#centro
{
	position: relative;
	margin: 0 auto;	
	height:px;
	width: 50%;
	background: #D2691E;
}