.aluno{
    background-color: rgb(65, 138, 172);
    color: #fff; 
    width: 22%;
    height: 70px; 
    float: left; 
    margin: 1%; 
    text-align: center;
    padding-top: 35px;
}
.aluno h4{
    width: 100px;
}
.aluno:hover{
    background: rgb(56, 100, 150);
    transition: 0.4s;
}
.aluno:hover span{
    border-bottom: 1px solid rgb(75, 128, 189);
}