.container{
	box-shadow:
		 10px 0px 20px -10px rgba(0,0,0,0.45),
		 -10px 0px 20px -10px rgba(0,0,0,0.45);
}
.todo-conteudo{
	border-bottom: 0px;
}
.text-center img{
	width: 700px;
	height: 450px;
	margin-bottom: 50px;
}
.text-center{
	text-decoration: none;
}
