*{
	margin: 0;
}
p{
	padding: 50px;
}
.fundo{
	background: #A9A9A9;

}
.color{
	color: #000000;
}
.im{
	width: 95%;
	height: 300px;
}
.back{
	background:url(../imagens/f3.jpg); 
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.esquerda{
	float: left;
	width: 50%;

}
.direita{
	float: right;
	width: 50%;
}
.test{
	overflow: hidden;
}
.test1{

}