
.botao  {
	position: relative;
background:;
	width: 22%;
	float: left;
	
	

top:20px;
left:50px;
margin:0px;
padding:0px;
height: 80px;

        }
 
        .botao a {  
        	position: relative;
font: bold 27px/27px arial, helvetica, sans-aerif;	
padding:0px;
text-decoration: none;
text-align:center;	
color:#ccc;
background: #006400 url('../img/botao_link.gif') no-repeat 
center center;
 background-size: contain;


width:250px;  
height:50px;	
display:block;	

	}
.botao a:hover { 
background: #006400 url('../img/botao_hover.gif') no-repeat 
center center;
background-size: contain;


width:250px;  
height:50px;
color:#999;
               }