<hr>
<h3>Professores Recentes</h3>
<hr>
<div style="display: inline-block; position:relative;overflow: hidden; background:;margin: 0 auto;height: 450px;">
  <a *ngFor="let aluno of alunos" routerLink="/aluno/{{aluno.id}}">
  <!-- Adicione o routerLink passando a url do aluno com seu id pego dinamicamente -->
    <!-- <div id="botoes">
      <h4 ></h4>
    </div> -->
    <div class="i2Style">
      <a href="">{{aluno.nome}}</a>
    </div>

  </a>
</div>

<hr>
<app-aluno-busca></app-aluno-busca><!-- Adicione o seletor de AlunoBuscaComponent -->
<hr>


