<hr>
<div>
  <label style="color:white;background: #0000CD;font-size: 30px;padding: 5px;box-shadow:1px 1px 10px #DCDCDC;">Nome do Professor:
    <input #alunoNome />
  </label>
  <button style="padding: 10px;position:relative;margin-left: 5px;top: -6px; font-weight: bolder;" (click)="adicionar(alunoNome.value); alunoNome.value=''">
 
    adicionar
  </button>
</div>
<hr>
<ul class="lista-alunos"   >
  <li *ngFor="let aluno of alunos" style="margin-bottom:10px;background:;">
  	<a routerLink="/aluno/{{aluno.id}}">
    <span> {{ aluno.id }} </span> {{ aluno.nome }} 
    </a>
     <button class="i2Style" title="Remover Aluno" (click)="delete(aluno)">Remover</button><!-- Botão para remover aluno -->
  </li>
</ul>
<hr>
