.justify{text-align: justify;}
.navbar{border-bottom:1px solid #aaa;}
h1#logo{
  font-family:arial;
  float:left;
  display:table;
  text-shadow:2px 2px 5px #333;
}h1#logo sup{color:#ff0;}h1#logo em{color:#fff;}h1#logo small{color:#ff1414;}
.img1{float:left;}
.img2{margin:10px auto}
.ep{background: #000;padding:1em}
.bdr{box-shadow:0 0 5px rgba(0,0,0,0.2);}
.center{text-align:center}
.footer{background:#fdfdfd;padding:20px;border-top:1px solid #aaa;}
.row{margin-top:40px}
.col-md-3{background:#fdfdfd}
.carousel-caption{text-shadow:1px 2px 1px #000;}
.titulo{font-weight: normal;margin:30px 0;font-family:"calibri light";}
.descricao{margin:10px;}
.black{margin-bottom: -20px; color:#333; font-weight: normal;text-shadow:1px 1px 1px #777;}
