body
{
 	margin: 1px;
 	background-color:#000;
 	color: #fff;
}

.card {
	margin-top: 10px;
}
.card-header1{
	float: left;
}

h2{
	color: #fff;
}
h1{
	$zindex-fixed:1030 !default;
}


div.container-fluid{
	background-color: darkcyan;
}