.font{
	font-family: arial;
}
.delimitador{
	width: 50%;
	background: pink;
	color: #fff;
	padding: 1em;
	border-radius: 5px;
}
.delimitador:hover{
	box-shadow: 0px 0px 30px black;
	transition: 0.3s;
}